:root {
    --bg: hsl(0, 0%, 8%);
    --bg-light: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 90%);
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--bg);
    display: inline-flex;
    margin: 0;
}

canvas {
    background-color: var(--bg-light);
    margin-top: 8px;
}

.title-text {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text);
}

.title-container {
    margin-bottom: 8px;
}

.controls-container {
    margin-top: 1.5px;
    margin-left: 8px;
}

.controls-grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 4px;
    width: 292px;
    color: var(--text);
}

.controls-grid input {
    width: 5em;
    color: var(--bg);
}