:root {
    --bg: hsl(0, 0%, 8%);
    --bg-light: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 90%);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
}

canvas {
    background-color: var(--bg-light);
}

.title-text {
    font-weight: bold;
    font-size: 2em;
    color: var(--text);
}

.title-container {
    margin: 0.2em;
}

.controls-grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 0.2em;
    color: var(--text);
}

.controls-grid input {
    width: 5em;
}


.controls-container{
    margin-left: 0.5em;
}